
<p>
  <strong>Num pago:</strong>
  <%= @payment.num_pago %>
</p>

<p>
  <strong>Saldo:</strong>
  <%= @payment.monto %>
</p>

<p>
  <strong>Día de pago:</strong>
  <%= @payment.fecha_pago %>
</p>

<p>
  <strong>Status:</strong>
  <%= @payment.status %>
</p>

<p>
  <strong>Registro:</strong>
  <%= @payment.registro %>
</p>

<p>
  <strong>Client:</strong>
  <%= @payment.client.nombre %>
</p>
